<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/landing.css}">
    <title>Recipes Helper</title>
</head>
<body>
<div class="main-container">
    <div class="left-content">
        <h1>Recipes Helper: Ваш путеводитель в мир вкусных и здоровых блюд!</h1>
        <p>Откройте для себя новые кулинарные горизонты с Recipes Helper!
            Мы поможем вам готовить вкусные и здоровые блюда, используя только те продукты,
            которые у вас есть под рукой.</p>
        <div class="field">
            <a type="submit" href="signup" > Зарегистрироваться</a>
            <a type="submit" href="login.html">Войти</a>
        </div>
    </div>
    <div class="right-image">
        <img th:src="@{/images/family_cooked.jpg}" alt="Семейное приготовление">
    </div>
</div>
</body>
