<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <title>Login</title>
</head>
<body>
    <div class="form-user">
    <h1>Войти</h1>
    <form method="post" action="/login">
        <label>Username: <input type="text" name="username"/></label><br/>
        <label>Password: <input type="password" name="password"/></label><br/>
        <button type="submit">Login</button>
        
    </form>
    </div>
    <div th:if="${param.error}">
        Invalid username or password.
    </div>
</body>
</html>
