<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <title>Мои продукты</title>
</head>
<body>
<ul class="menu-main">
    <li><a href="/settings" >Профиль</a></li>
    <li><a href="/recipes" >Рецепты</a></li>
    <li><a href="/history" >История приготовления</a></li>
    <li><a href="/products" class="current">Мои продукты</a></li>
    <li><a href="/logout" >Выход</a></li>
</ul>

<ul class="recipes-list">
    <li th:each="recipe : ${recipes}" class="recipe-item">
        <a th:href="@{'/recipes/' + ${recipe.recipeId}}" class="recipe-title" th:text="${recipe.recipeName}"></a>
        <p class="recipe-description" th:text="${recipe.description}"></p>
        <p class="recipe-category">
            Категория: <span th:text="${recipe.recipeCategory}"></span>
        </p>
    </li>
</ul>

</body>