<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/main.css}">

    <title>Настройки</title>
</head>
<body>
<ul class="menu-main">
    <li><a href="/settings" class="current">Профиль</a></li>
    <li><a href="/recipes" >Рецепты</a></li>
    <li><a href="/history" >История приготовления</a></li>
    <li><a href="/products" >Мои продукты</a></li>
    <li><a href="/logout" >Выход</a></li>
</ul>
    <h1>Настройки пользователя</h1>
<div class="filters-container">
    <h2>Изменить пароль</h2>
    <form th:action="@{/settings}" method="post">
        <div class="field">
            <input type="password" id="oldPassword" name="oldPassword" required/>
            <label>Старый пароль</label>
        </div>
        <div class="field">
            <input type="password" id="newPassword" name="newPassword" required/>
            <label>Новый пароль</label>
        </div>
        <div class="field">
            <input type="submit" value="Изменить пароль">
        </div>
        <div th:if="${message}" style="color: rgb(255, 0, 221);">
            <p th:text="${message}"></p>
        </div>
    </form>
</div>
</body>
</html>