<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Настройки</title>
</head>
<body>
    <h1>Настройки пользователя</h1>
    <h2>Изменить пароль</h2>
    <form th:action="@{/settings}" method="post">
        <div>
            <label for="oldPassword">Старый пароль:</label>
            <input type="password" id="oldPassword" name="oldPassword" required/>
        </div>
        <div>
            <label for="newPassword">Новый пароль:</label>
            <input type="password" id="newPassword" name="newPassword" required/>
        </div>
        <button type="submit">Изменить пароль</button>
        <div th:if="${message}" style="color: rgb(255, 0, 221);">
            <p th:text="${message}"></p>
        </div>
    </form>
</body>
</html>